#nav {
    display: grid;
    grid-template-columns: [first-nav] .11fr [first-end-nav second-nav] 1fr [second-end-nav end-nav];
    opacity: .95;
    background-image: url("backgroundcrop1.png");  
    background-size: cover; 
    position: relative; 
    max-width: 100%;
    z-index: 3;
}

@media(max-width: 415px){.nav{
    display: block;
}}

.nav-box{
    display: none;
    position: relative;
}

.nav-box p{
    padding-right: 20px;
    color: white; 
      
}

.overlay { 
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1;
    background-color: #1a6e1a; 
    overflow-x: hidden;
    transition: 0.01s; 
} 

.overlay-content { 
    position: relative; 
    top: 25%; 
    width: 100%; 
    text-align: center; 
} 

.overlay a { 
    padding: 10px; 
    text-decoration: none; 
    font-size: 40px; 
    color: white; 
    display: block; 
    transition: 5.1s; 
} 

.overlay-content a:hover, 
.overlay-content a:focus { 
    color: black; 
} 

.overlay .closebtn { 
    position: absolute; 
    top: 10px; 
    right: 35px; 
    font-size: 70px; 
} 

@media(max-width: 415px){ .nav-box{
    display:block;
    position: absolute;
    right:0;
}}

.nav-box-one{
    max-width: 100%;
    padding: 20px;
    
}

@media(max-width: 415px){ .nav-box-one{
    padding-left: 20px;
}}

.hamburger{
    display: none;
    padding-right: 10px;
    padding-top: 10px;
}

.hamburger img{
    width: 2.5em;
} 

@media(max-width: 415px){.hamburger{
    display:inline-block;
}}

 .mascot {
    width: 15em;
    height: 15em;
    display: inline-block;
    opacity: .95;
    max-width: 100%;
}

@media (max-width: 415px){.mascot img{
    margin-left: 35px;
}} 

@media (max-width: 375px){.mascot img{
    margin-left: 25px;
}}

@media (max-width: 360px){.mascot img{
    margin-left: 15px;
}}

 @media (max-width: 319px){.mascot img{
    width: 13em;
    height: 13em;
    margin-left: 30px;
}} 

.nav-box-two{
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 20px;
}

@media(max-width: 415px){.nav-box-two{
    display:none;
}}

 .menu {
    grid-column-end: 4;
    justify-items: end;
    display:grid;
    grid-template-columns: .6fr 1fr .2fr .57fr;
    grid-gap:2.5em;
    margin-top: 25px;
    margin-bottom: 10px;
}

@media(max-width: 770px){.menu{
    grid-template-columns: 1fr;
    grid-gap:1em;
    height: auto;
    grid-column-start:start; 
    grid-column-end: 2;
}}

.one {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    color: white;
    vertical-align: top;

}

@media(max-width: 950px){.one{
    font-size: 1.5rem;
}}

@media(max-width: 770px){.one{
    margin-top: 0;
    margin-left: 0;
}}

@media(max-width: 770px) {.sign-up{
    justify-self: start;
}}

.two {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    color: white;
    vertical-align: top;   
}

@media(max-width: 950px){.two{
    font-size: 1.5rem;
}}

@media(max-width: 770px){.two{
    margin-top: 0;
    justify-self: start;
}}


.bio-link{
    justify-self: start;
}

.contact {
    justify-self: end;
}

@media(max-width: 800px){.contact{
    grid-template-columns: 1fr;
    justify-self: start;
}}
