*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html {
    font-size: 14px;
}

body{
    max-width: 100%;
    padding: 20px;
    
} 

/* @media(max-width: 319px){body{
    padding: 0;
}}  */

#container{
    max-width: 100%;
    display: grid;
}






